@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: Poppins, sans-serif;
  }
}
body {
  background: #ECECEC;
}

* {
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}

.white {
  padding: 30px 10px;
  background: #fff;
}

.dark {
  background: #121212;
  padding: 10px;
}

@screen lg {
  .dark {
    padding: 20px 40px 40px 40px;
  }
  .white {
    padding: 60px 40px 60px 40px;
  }
}
.slick-slide {
  width: 25%;
}

.slick-arrow {
  display: none !important;
}

.arrow-left {
  margin-right: 20px;
}

.burger-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s, height 2s ease;
  transition: opacity 0.3s ease, visibility 0.3s, height 99s ease;
}

.burger-menu-overlay.show {
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.35s, visibility 0.35s;
}

.burger {
  cursor: pointer;
}

.burger-close {
  width: 40px;
  margin: 10px 20px 10px auto;
}

.menu-burger a, .social-links-burger a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 32px;
  line-height: 42px;
  padding: 32px 0 32px 32px;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #ffffff;
  width: 100%;
  border-left: 4px solid transparent;
}
.menu-burger a:hover, .social-links-burger a:hover {
  border-left: 4px solid #121212;
}

.overflow-hidden {
  overflow: hidden;
}

.back-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 20px;
  right: 20px;
  padding: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  background: white;
  opacity: 0;
  max-height: 0;
  transition: max-height 1.5s ease, opacity 0.5s ease, padding 3s;
  overflow: hidden;
}

.vis {
  opacity: 1;
  max-height: 500px;
  padding: 7px 13px;
  transition: opacity 2s ease, padding 0.1s ease;
}

header .logo {
  width: 40px;
}
header .nav {
  padding: 30px 18px;
}
header .menu li {
  margin-left: 40px;
  color: white;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
header .menu li:hover {
  opacity: 1;
}
header .menu .active {
  opacity: 1;
}
header .social_links {
  padding-right: 16px;
}
header .social_links li {
  margin-left: 16px;
}
header .social_links a {
  opacity: 0.5;
}
header .social_links a:hover {
  opacity: 1;
}
header .social_links img {
  width: 22px;
}

.banner {
  padding: 0 10px;
}
.banner .banner_text {
  margin: 0 0 28px 0;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.banner .banner_text text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: 700;
  letter-spacing: -0.7px;
  max-height: 300px;
}

@screen md {
  .banner {
    padding: 0 20px;
  }
  .banner_text {
    margin: 20px 0 60px;
    padding: 8px 0;
  }
}
.teasers .featured_article, .teasers .featured_right_section, .articles .featured_article, .articles .featured_right_section {
  padding: 0 20px;
}
.teasers .date, .articles .date {
  font-size: 14px;
  line-height: 14px;
}
.teasers .title, .articles .title {
  font-weight: 600;
  opacity: 0.8;
}
.teasers .featured_article .date, .articles .featured_article .date {
  padding: 20px 0 10px;
}
.teasers .featured_article .title, .articles .featured_article .title {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 16px;
}
.teasers .featured_article .body, .articles .featured_article .body {
  font-size: 18px;
  line-height: 28px;
}
.teasers .featured_service, .articles .featured_service {
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.teasers .featured_service .date, .articles .featured_service .date {
  font-size: 14px;
  line-height: 14px;
  padding-top: 20px;
}
.teasers .featured_service .title, .articles .featured_service .title {
  margin-top: 10px;
  font-size: 25px;
  line-height: 35px;
  opacity: 0.8;
  font-weight: 600;
}
.teasers .featured_service .body, .articles .featured_service .body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.teasers .featured_service img, .articles .featured_service img {
  width: 250px;
  height: 150px;
  max-width: none;
}

.articles__inner {
  justify-content: center;
  max-width: 100%;
}
.articles__inner .featured_service {
  width: 100%;
  flex-direction: column;
  padding: 0 15px;
}
.articles__inner .featured_service img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.articles__inner .featured_service .teaser_image {
  width: 100%;
  justify-content: center;
}
.articles__inner .featured_service .teaser_content {
  padding: 0;
  text-align: center;
}

@media (min-width: 0) {
  .teasers {
    flex-direction: column;
  }
  .featured_article, .featured_right_section {
    width: 100%;
  }
  .featured_article {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .featured_service {
    flex-direction: column;
  }
  .featured_service img {
    padding: 0;
  }
}
@screen md {
  .featured_article {
    flex-direction: row;
  }
  .featured_article img, .featured_article .content {
    padding: 0 10px;
  }
  .featured_article img {
    max-height: 210px;
  }
  .featured_service {
    flex-direction: row;
  }
  .featured_service .teaser_content {
    padding-left: 10px;
  }
  .articles__inner {
    justify-content: space-between;
  }
  .articles__inner .featured_service {
    padding: 0;
    width: 45%;
  }
  .articles__inner .featured_service .teaser_image {
    justify-content: normal;
  }
  .articles__inner .featured_service .teaser_content {
    text-align: left;
  }
  .articles__inner .featured_service img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
  }
}
@screen lg {
  .featured_article {
    flex-direction: column;
  }
  .featured_article img, .featured_article .content {
    padding: 0;
  }
  .featured_article img {
    max-height: unset;
  }
}
@screen xl {
  .teasers {
    flex-direction: row;
  }
  .featured_article, .featured_right_section {
    width: 50%;
  }
  .featured_article {
    margin-bottom: 0;
  }
  .featured_service img {
    padding-right: 10px;
  }
  .featured_service:first-child {
    border-top: none;
    padding-top: 0;
  }
  .articles__inner .featured_service {
    width: 30%;
  }
}
@screen 2xl {
  .articles__inner {
    justify-content: space-between;
    max-width: 100%;
  }
  .articles__inner .featured_service {
    max-width: 410px;
    flex-direction: column;
    padding: 0;
  }
  .articles__inner .featured_service img {
    width: 410px;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
  .articles__inner .featured_service .teaser_content {
    padding: 0;
  }
}
.teasers__slider1, .teasers__slider2 {
  max-width: 100%;
}
.teasers__slider1 .date, .teasers__slider2 .date {
  font-size: 14px;
  line-height: 14px;
  padding-top: 20px;
}
.teasers__slider1 .title, .teasers__slider2 .title {
  margin-top: 10px;
  font-size: 25px;
  line-height: 35px;
  opacity: 0.8;
  font-weight: 600;
}
.teasers__slider1 .body, .teasers__slider2 .body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.teasers__slider1 .slick-slide, .teasers__slider2 .slick-slide {
  display: flex;
  justify-content: center;
}
.teasers__slider1 .feature__slide, .teasers__slider2 .feature__slide {
  text-align: center;
  padding: 0 28px;
  min-height: 480px;
  width: calc(3vw + 290px) !important;
}
.teasers__slider1 .title, .teasers__slider2 .title {
  hyphens: auto;
  font-size: 24px;
}
.teasers__slider1 .slick-arrow, .teasers__slider2 .slick-arrow {
  display: none;
}
.teasers__slider1 .slick-dots, .teasers__slider2 .slick-dots {
  position: relative;
  bottom: -10px;
}

.teasers__slider1 .title {
  color: black;
}

.teasers__slider2 img {
  width: 280px;
  height: 175px;
  object-fit: cover;
  object-position: center;
}

.dark-slider {
  padding: 40px 0;
}
.dark-slider .slick-dots li button::before {
  color: white;
}

@screen md {
  .teasers__slider1 .slick-slide, .teasers__slider2 .slick-slide {
    border-left: 1px solid gray;
  }
  .teasers__slider1 .feature__slide, .teasers__slider2 .feature__slide {
    text-align: left;
    width: 100% !important;
  }
  .teasers__slider1 .slick-current, .teasers__slider2 .slick-current {
    border-left: none;
  }
}
@screen lg {
  .teasers__slider1 .slick-dots, .teasers__slider2 .slick-dots {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .dark-slider {
    padding-bottom: 0;
  }
}
.static {
  padding: 0 25px;
}

.static_block {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.static_block .left_section, .static_block .right_section {
  width: 100%;
}
.static_block .left_section {
  padding: 25px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.static_block .right_section {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.static_block .title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
}
.static_block .body {
  font-size: 25px;
  width: 100%;
}
.static_block .button_link {
  margin-top: 30px;
}
.static_block .button_link a {
  padding: 20px calc(3vw + 20px);
  font-size: 25px;
  font-weight: 500;
  transition: 0.3s ease;
  outline-offset: 0;
  text-shadow: none;
}
.static.text-white .button_link a {
  border: 1px solid #fff;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
.static.text-white .button_link a:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.static.text-black .button_link a:hover {
  background: transparent;
  border: 1px solid #000;
  transition: 0.3s ease;
  color: #000;
}

@screen md {
  .static {
    padding: 0 75px;
  }
}
@screen lg {
  .static_block .title {
    font-size: 60px;
    line-height: 73px;
    font-weight: 600;
  }
  .static_block .body {
    width: 95%;
  }
  .static_block .left_section {
    padding: 75px 15px;
  }
  .static_block .right_section {
    padding-top: 75px;
  }
}
@screen xl {
  .static_block {
    text-align: left;
    flex-direction: row;
  }
  .static_block .left_section, .static_block .right_section {
    width: 50%;
  }
  .static_block .right_section {
    padding-top: 0;
  }
}
.latest-news {
  display: flex;
  flex-direction: column;
}
.latest-news .articles .featured_service {
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}
.latest-news .articles .featured_service .teaser_image {
  width: 100%;
}
.latest-news .articles .featured_service img {
  width: 100%;
  height: 210px;
  padding: 0;
}
.latest-news .articles .teaser_image {
  align-self: end;
}
.latest-news .articles__inner {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.latest-news .right_section {
  display: flex;
  flex-direction: column;
}
.latest-news .event_image {
  display: flex;
  justify-content: center;
}
.latest-news .event_image img {
  width: 70%;
}
.latest-news .archive {
  padding: 10px 0 24px 24px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.latest-news .archive .date {
  font-size: 14px;
  line-height: 14px;
  padding-top: 20px;
}
.latest-news .archive .title {
  margin-top: 10px;
  font-size: 25px;
  line-height: 35px;
  opacity: 0.8;
  font-weight: 600;
}
.latest-news .archive .body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.latest-news .archive .date {
  opacity: 0.5;
}
.latest-news .archive .title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.latest-news .archive:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  .latest-news .event_image img {
    width: 80%;
  }
  .latest-news .articles .featured_service img {
    height: 350px;
  }
}
@screen md {
  .latest-news .articles {
    max-width: 100%;
  }
  .latest-news .articles .featured_service {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .latest-news .articles .featured_service .teaser_image {
    width: auto;
  }
  .latest-news .articles .featured_service img {
    width: 350px;
  }
}
@screen lg {
  .latest-news {
    flex-direction: row;
  }
  .latest-news .event_image img {
    width: 100%;
  }
  .latest-news .articles {
    max-width: 66%;
  }
  .right_section {
    padding: 0 20px;
  }
}
.testimonials {
  margin-top: 40px;
}
.testimonials .testimonial {
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  display: flex;
  padding: 24px 0 24px 24px;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.testimonials .testimonial img {
  border-radius: 2000px;
  width: 36px;
  height: 36px;
}
.testimonials .testimonial .body {
  opacity: 0.5;
}
.testimonials .testimonial .user {
  font-weight: 400;
}
.testimonials .testimonial .testimonial_content {
  padding-left: 10px;
}
.testimonials .testimonial:last-child {
  border-bottom: none;
}