@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
header .logo {
  width: 40px;
}
header .nav {
  padding: 30px 18px;
}
header .menu li {
  margin-left: 40px;
  color: white;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
header .menu li:hover {
  opacity: 1;
}
header .menu .active {
  opacity: 1;
}
header .social_links {
  padding-right: 16px;
}
header .social_links li {
  margin-left: 16px;
}
header .social_links a {
  opacity: 0.5;
}
header .social_links a:hover {
  opacity: 1;
}
header .social_links img {
  width: 22px;
}

.banner {
  padding: 0 20px;
}
.banner .banner_text {
  margin: 20px 0 60px;
  padding: 8px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.banner .banner_text text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: 700;
  letter-spacing: -0.7px;
  max-height: 300px;
}

.teasers .featured_article, .teasers .featured_right_section {
  padding: 0 20px;
}
.teasers .date {
  font-size: 14px;
  line-height: 14px;
}
.teasers .title {
  font-weight: 600;
  opacity: 0.8;
}
.teasers .featured_article .date {
  padding: 20px 0 10px;
}
.teasers .featured_article .title {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 16px;
}
.teasers .featured_article .body {
  font-size: 18px;
  line-height: 28px;
}
.teasers .featured_service {
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.teasers .featured_service img {
  width: 250px;
  height: 150px;
  max-width: none;
  padding-right: 10px;
}
.teasers .featured_service .title {
  font-size: 25px;
  opacity: 0.8;
}
.teasers .featured_service .teaser_content {
  padding-left: 10px;
}
.teasers .featured_service:first-child {
  border-top: none;
  padding-top: 0;
}

.teasers__slider {
  max-width: 100%;
}

@layer base {
  body {
    font-family: Poppins, sans-serif;
  }
}
body {
  background: #ECECEC;
}

* {
  box-sizing: border-box;
}

.white {
  padding: 60px 40px 40px 40px;
  background: #fff;
}

.dark {
  background: #121212;
  padding: 20px 40px 40px 40px;
}

.slick-slide {
  width: 25%;
}