.static{
  padding: 0 75px;
}
.static_block{
  .left_section{
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
  }
  .title{
    font-size: 60px;
    line-height: 73px;
    font-weight: 600;
  }
  .body{
    font-size: 25px;
    width: 95%;
  }
  .button_link{
    margin-top: 30px;
    a{
      padding: 20px 80px;
      font-size: 25px;
      font-weight: 500;
    }
    a:hover{

    }
  }
}