@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@layer base {
  body {
    font-family: Poppins, sans-serif;
  }
}

body {
  background: #ECECEC;
}

* {
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}

.white {
  padding:30px 10px;
  background: #fff;
}

.dark {
  background: #121212;
  padding: 10px;
}
@screen lg {
  .dark{
    padding: 20px 40px 40px 40px;
  }
  .white{
    padding: 60px 40px 60px 40px;
  }
}


.slick-slide {
  width: 25%;
}

.slick-arrow {
  display: none !important;
}
.arrow-left{
  margin-right: 20px;
}
.burger-menu-overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  z-index: 10;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s, height 2s ease;
  transition: opacity 0.3s ease, visibility 0.3s, height 99s ease;

}
.burger-menu-overlay.show{
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity .35s, visibility .35s;
}
.burger{
  cursor: pointer;
}
.burger-close{
  width: 40px;
  margin:10px 20px 10px auto;
}
.menu-burger, .social-links-burger{
  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 32px;
    line-height: 42px;
    padding: 32px 0 32px 32px;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #ffffff;
    width: 100%;
    border-left:4px solid transparent;

    &:hover{
      border-left:4px solid #121212;
    }
  }
}
.overflow-hidden{
  overflow: hidden;
}
.back-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 20px;
  right: 20px;
  padding: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  background: white;
  opacity: 0;
  max-height: 0;
  transition: max-height 1.5s ease, opacity 0.5s ease, padding 3s;
  overflow: hidden;

}
.vis{
  opacity: 1;
  max-height: 500px;
  padding: 7px 13px;
  transition:  opacity 2s ease, padding 0.1s ease;
}
#id{

}


@import 'header.scss';
@import 'banner.scss';
@import "teasers.scss";
@import "teasers_slider.scss";
@import "static_blocks.scss";
@import "latest-news.scss";
@import 'testimonials.scss';